<div class="article">
	<h3 class="fn n">
		<span class="given-name"><perch:content id="givenname" type="text" label="Given name" required="true" title="true" /></span>
		<span class="family-name"><perch:content id="familyname" type="text" label="Family name" required="true" title="true" /></span>
	</h3>
	<p class="meta role"><perch:content id="role" type="text" label="Role and Company" required="true" /></p>
				
				
	<blockquote class="description">
		<perch:content id="quote" type="textarea" label="Quote" textile="true" editor="markitup" required="true" />
	</blockquote>
</div>